<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title%}Bucket List{% endblock%}</title>
    {# notre google font #}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap" >

    {% block stylesheets %}
        {# notre css #}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
</head>
<body>
{# entête du site #}
<header>
    <div class="container">
        <h1 class="header-logo">
            <a href="{{ path('main_home') }}" title="Go back to homepage">
                <img src="{{ asset('images/logo.svg') }}" alt="Bucket-List Logo">Bucket-List
            </a>

        </h1>
        <nav class="header-nav">
            <a href="{{ path('main_home') }}" title="Go back to homepage">Home</a>
            <a href="{{ path('wish_liste') }}" title="liste">list des idées</a>
            <a href="{{ path('main_about') }}" title="Go back to homepage">About us</a>
            {% if app.user %}
            <a href="{{ path('wish_create') }}" title="Go back to homepage">create</a>
            <a href="{{ path('app_logout') }}" title="logout">logout {{ app.user.pseudo }}</a>
                {% else %}
            <a href="{{ path('app_login') }}" title="login">login</a>
            {% endif %}
        </nav>
    </div>
</header>
{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<main>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</main>
{# pied-de-page du site #}
<footer>
    <div class="container">
        © Bucket-List {{ "now"|date("Y") }}
    </div>
</footer>

</body>
</html>